/* font */
.font_orange{
	font-family: Mr Orange;
	/* font-size: 4rem; */
  }
  
  .font_popinsLight{
	font-family: Poppins Light;
  }
  
  .font_poppinsSemiBold{
	font-family: Poppins SemiBold;
  }

  .astrickColor{
	color: #f37130;
  }

  .slds-carousel__autoplay {
	  display: none;
  }
  
  .exampleHolder{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: transparent;
	height: 1110px;
	width: 100%;
	z-index: 30;
  }

  .fixImg>img{
	height: 200px;
  }
  
  .box-header{
		background-color: rgb(0, 31, 52);
		height: 29px;
		text-align: left;
		/* border-radius: 15px; */
		margin-bottom: 1rem;
	}
  
  .custom-box{
	width:90%;
	margin:auto;
	text-align: center;
	margin-top: 1rem;
	border: 1px solid #e5e5e5;
	padding-bottom: 1rem;
	border-radius: 15px; 
  }
  .update-box{
	width:70%;
	margin:auto;
	margin-top: 1rem;
	border: 1px solid #e5e5e5;
	padding-bottom: 1rem;
	border-radius: 15px; 
	display: flow-root;
  }
  .details-box{
	width:fit-content;
	margin:auto;
  }
  .modalSize{
	padding:1rem;
  }
  .sldsPadding{
	margin:5px;
  }
  .value{
	border-top: 1px solid #e5e5e5;
	width:fit-content;
	padding: 0.5rem;
  }
  .label{
	font-weight: bold;
  }
  .form_btn {
	width: fit-content;
	/* height: 2.5rem; */
	border: 2px solid #001f34;
	background-color: #001f34;
	color: white;
	border-radius: 4px;
	font-size: 18px;
	margin: 5px;
	/* float: right; */
  }

  .backBtn{
	margin: auto;
	width: 70%;
  }
  

  .form_btn_cancel{
	width: fit-content;
	/* height: 2.5rem; */
	border: 2px solid #ffe600;
	background-color: #ffe600;
	color: 001f34;
	border-radius: 4px;
	font-size: 18px;
	margin: 5px;
  }

  .align_btn{
	float: right;
  }
  
  .alert{
	  color:#f37130;
  }
  .textarea{
	  width:100%;
  }
  .delete{
	  padding-left:10px;
  }
  .header {
	  color: rgb(0, 31, 52);
	  /* font-weight: bolder; */
	  font-size: 3rem;
	  margin-bottom: 1vw;
	  padding-left: 8rem;
	  padding-top: 3rem;
  }
  .head{
	  /* margin-top: 12vw; */
	  background-color: #bfe4f3;
  }
  .headerImg {
	height: 100px;
	width:  100%;
  }
  .customTableDesign{
	width: 70%;
	margin: auto;
  }
  .custom-padding{
	  padding-top:1rem;
	  /* padding-top: 1rem; */
	  padding-left: 1.2rem;
	  padding-right: 1.3rem;
  
  }
  .propName{
	/* text-align: left; */
	color: white;
	margin-left: 10px;
  }

  .wrapped-content{
	text-wrap: balance;
	white-space: break-spaces;
  }
  input[type=checkbox]{
 	 width: 2.5rem;
     height: 1.5rem;
  }
  /* .checkboxtext{
	  position: absolute;
  } */
  .complete_btn{
      float: right;
    /* margin-top: 2rem; */
  }
  @media(max-width:1059px){
	.header{
	  /* margin-top: 14vh; */
	   padding-left: 1rem;
	  padding-top: 5rem;
	  font-size: 3rem;
	}
  
	.head{
	  margin-top: 1rem;
	}
  }
  .wraptext{
	display: contents;
  }
  
  

  @media(max-width:480px){
	.custom-box{
	  /* margin: auto; */
	  width: 90%;
	  /* text-align: left; */
	}
	.custom-padding{
		padding-top: 0rem;
	}
	.form_btn{
		max-width: 6.5rem;
	}
	
  }

  @media(max-width:390px){
	.wrapped-content{
		/* max-width: 9rem; */
	  }

	.custom_clslabel{
		width: auto;
	}

	.form_btn1{
		max-width: min-content !important;
	}
  }

.slds-carousel__image img{
	width: auto !important;
	max-width: 100% !important;
    height: 150px !important;
    max-height: 150px !important;
}

.slds-truncate{
	white-space: break-spaces;
}

.form_input{
	width: -webkit-fill-available;
    height: 2.0em !important;
    border-radius: 4px;
}


.slds-table td, .slds-table th {
    padding: .25rem .5rem;
    white-space: unset;
    position: relative;
}