.header {
    color: rgb(0, 31, 52);
    margin-top: 90px;
    font-weight: bolder;
    font-size: 40px;
	text-align: left;
	margin-bottom: 50px;
}

.logoSizing{
    padding-top: 1vw;
    text-align: center;
}

.exampleHolder{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    height: 1110px;
    width: 100%;
    z-index: 30;
}

.form{
	display: block;
	margin: auto;
	width: 630px;
    text-align: center;
	border : none;
}

.form_btn {
	font-family: Poppins Light;
    height: 2.5rem;
    border: 2px solid #001f34;
    background-color: #001f34;
    color: white;
    border-radius: 4px;
    font-size: 18px;
}

.label-left{
    text-align: left;
}

.logoSizing img{
	width: 301px;
    height: 85px;
}

.backBtn{
  font-size: 15px;
  text-decoration: underline;
}

.headerTittle{
    margin-left: 31px;
}

@font-face {
    font-family: "Poppins Light";
    src: url('/resource/CampQualityFonts/Poppins-Light.ttf') format('TrueType');
}
@font-face {
    font-family: "Poppins SemiBold";
    src: url('/resource/CampQualityFonts/Poppins-SemiBold.ttf') format('TrueType');
}
@font-face {
    font-family: "Mr Orange";
    src: url('/resource/CampQualityFonts/MrOrange.otf') format('OpenType');
}


.font_orange{
  font-family: Mr Orange;
  /* font-size: 4rem; */
}

.font_popinsLight{
  font-family: Poppins Light;
  align-items: baseline;
}

.font_poppinsSemiBold{
  font-family: Poppins SemiBold;
}

.slds-formClass{
    justify-content: flex-end;
    align-items: center;
    margin-right: 12px;
  }
  
  .loginBtn{
    margin-left: 20px;
    width: 82px;
  }

  .sentNotify{

  }

  .verifyText{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .nextBtn{
    margin-left: 24rem;
    width: 82px;

  }

  .styleForSentence{
    padding: 5rem;
  }

    /* Responsive styles */
  @media (max-width: 768px) {
    .form {
        padding: 10px;
        width: auto;
    }

    .form_btn{
      padding: 8px;
      font-size: 14px;
      display: block;
      /* width: 25%; */
      float:none;
      margin-left:15px;
      margin-right:0;
    }
  }

  /* Responsive styles */
@media (max-width: 480px) {
   

    .header {
        font-size: 22px;
    }
    
    .form_btn{
    padding: 8px;
    font-size: 14px;
	display: block;
	/* width:35%; */
	float:none;
	margin-left:8px;
	margin-right:0;
   }

  /* .logoSizing img {
    position:none;
    left:0;
    width: 213px;
    height: 60px;
   } */

}